@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Work+Sans:wght@400;500&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

code {
    color: blue;
    font-family: 'Roboto Mono', monospace;;
}

#instructions {
    margin: 1%;
    padding-left:5%;
    padding-right:5%;
}

#instructions h3, h2{
    text-align:center;
}

.center {
    text-align:center;
}


.file {
    padding: 8;
    border-bottom: 1px solid #dddddd;
}

.section {
    margin-bottom: 5px;
}

.ui-selected { 
    background: #007fff; 
    color: white; 
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

#mturk-top-banner-drop-down-content {
    position: absolute;
    width: 99%;
    bottom: 0px;
    top:unset;
    left: 0;
    background-color: #eee;
    z-index: 100;
    padding: 10px 10px 10px 10px;
    border-left: 1px orange solid;
    border-right: 1px orange solid;
    border-top: 1px orange solid;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

#sidepanel {
    padding:1%;
    display:inline-block;
    width:49%;
    overflow:auto;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    z-index: 99;
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}